.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}

.App input {
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.App input:hover {
  scale: 1.1;
}

.App input:focus {
  scale: 1.1;
}

.App button {
  padding: 8px 30px;
  background-color: #000;
  color: white;
  transition: all 0.5s ease;
}

.App button:hover {
  scale: 1.1;
}

.App button:focus {
  background-color: #888;
  scale: 1.1;
}
